@font-face {
  font-family: 'iconfont';  /* project id 1972424 */
  src: url('//at.alicdn.com/t/font_1972424_ea27056dq58.eot');
  src: url('//at.alicdn.com/t/font_1972424_ea27056dq58.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1972424_ea27056dq58.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1972424_ea27056dq58.woff') format('woff'),
  url('//at.alicdn.com/t/font_1972424_ea27056dq58.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1972424_ea27056dq58.svg#iconfont') format('svg');
}